@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EventEase</h1>
 <h5 class="display-4">Event Management</h5>
    <p>Welcome to EventEase online booking app.</p>
</div>
